$backgroundColor : #000;
$backgroundImageAccueil : url('/img/background_accueil.jpg');
$backgroundImageLocation : url('/img/background_locations.png');
$title: #83fe5c;
$writingColor: #fff;
$titleNav : #329a16;


